@page
@{
    byte minValue = byte.MinValue;
    byte maxValue = byte.MaxValue;
}
<div>
    <h1>Tipos Numericos</h1>
    <p>
        byte Min: @minValue 
    </p>
    <p>
        byte Max: @maxValue
    </p>
</div>