<html>
<head>
    <title>Fundamentoc C#</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/Index">Inicio</a>
                </li>
                <li>
                    <a href="/TiposNumericos">Tipos Numericos</a>
                </li>
            </ul>
        </nav>
    </header>
    @RenderBody()
    <footer>
        <p>Proway Info - 2022</p>
    </footer>
</body>
</html>